body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.container {
    width: 50%;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
}
footer {
    position: absolute;
    bottom: 0;
}

#stats{
	display: block;
	
}

._png{
	float: left;
	width: 5vh;
	margin: 3px;
}

.stat_count{
	font-size: 22pt;
	float: left;
	padding: 5px;
	text-align: center;
	margin: 3px;
}

.download{
	width: 6vh;
	float: left;
	text-align: center;
	margin: 3px;
}